.login-error {
  color: red;
}

.my-container {
  height: 80vh;
}

h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.form-container {
  min-width: 300px;
  border: 1px solid lightgrey;
  padding: 45px;
  border-radius: 10px;
  width: 25vw;
  height: 37vh;
}


mat-form-field {
  width: 100%;
}

button {
  text-decoration: underline;
}
